# Anomaly Injected Datasets
injection_code/src/OUTPUT_BDG2/MODIFIED
injection_code/src/OUTPUT_LEAD/MODIFIED

# Original Datasets
dataset_prep/src/electricity_cleaned.csv
dataset_prep/src/LEAD.csv

# Missing value imputed datasets
dataset_prep/src/electricity_cleaned_imputed.csv
dataset_prep/src/lead_train_imputed.csv
injection_code/src/electricity_cleaned_imputed.csv
injection_code/src/lead_train_imputed.csv

